.login__container {
  align-items: center;
  background: #f5f5f577;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
  padding: 0.6rem;
  position: relative;
  width: 100%;
}

.login__content_image {
  display: none;
}

.login__content_form_image {
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 6px #80808023;
  display: grid;
  gap: 2rem;
}

.login__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.6rem;
  width: 100%;
}

.login__content > h2 {
  color: #5b54b1;
  font-size: 4rem;
  font-weight: 500;
}

.login__form {
  display: grid;
  gap: 1rem;
}

.login__form_input {
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  display: flex;
}

.login__input_p {
  border: none;
}

.login__form_input > svg {
  cursor: pointer;
  font-size: 2rem;
  margin: 0 0.4rem 0 0;
}

.login__content_btn {
  padding: 0 0 1rem;
}

.login__footer {
  padding: 0.6rem;
  width: 100%;
}

.login__title_footer {
  font-size: 1.2rem;
}

.login__title_footer > a {
  color: #6c99c9;
  font-size: 1.2rem;
}

.login__title_footer > a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 800px) {
  .login__contain_all_info {
    background: #fff;
    border-radius: 0.8rem;
    box-shadow: 1px 1px 6px #80808023;
    display: flex;
    height: 80%;
    max-width: 70rem;
  }

  .login__content_image {
    display: block;
  }

  .login__content_image > img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .login__content_form_image {
    gap: 0;
    overflow: auto;
    width: 40rem;
  }

  .login__content {
    padding: 1rem;
  }

  .login__title_footer {
    text-align: center;
  }
}
