/* CreateProduct */

.cp__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.cp__contain_photo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 2rem 0;
  width: 100%;
}

.cp__photo_user {
  position: relative;
}

.cp__photo_user > img {
  border-radius: 100%;
  box-shadow: 1px 1px 5px #80808087;
  height: 12rem;
  max-width: 15rem;
  object-fit: cover;
  width: 12rem;
}

.cp__photo_user > figcaption {
  align-items: center;
  background: #5b54b1;
  border-radius: 100%;
  bottom: 0.4rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  padding: 0.6rem;
  position: absolute;
  right: 2rem;
}

.cp__content_separate,
.cp__contain_inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cp__content_select_warehouse {
  color: #5c54b1;
  display: grid;
  font-size: 1.2rem;
  gap: 0.8rem;
}

.cp__content_select_warehouse > label {
  cursor: pointer;
}

.cp__select_warehouse {
  align-items: center;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 6px #80808057;
  color: #5c54b1;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  height: 4rem;
  padding: 0 1rem;
  width: 100%;
}

.cp__select {
  background: #ffffff;
  box-shadow: 1px 1px 6px #80808057;
  color: #5c54b1;
  width: 100%;
}

.cp__input {
  box-shadow: 1px 1px 6px #80808057;
}

.cp__description_textarea {
  border-radius: 0.8rem;
  border: none;
  box-shadow: 1px 1px 6px #80808057;
  font-size: 1.2rem;
  min-height: 15rem;
  max-height: 20rem;
  padding: 1rem;
  resize: none;
  width: 100%;
}

.cp__description_textarea::placeholder {
  color: #5c54b1;
}

/* SearchProduct */

.sp__container_selects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0 2rem;
}

.sp__contain_info_outside_title,
.sp__content_selects_search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.sp__select,
.sp__select_filter {
  background: #fff;
  border: none;
  box-shadow: 1px 1px 6px #80808047;
  color: #5d5abf;
}

.sp__container_selects p {
  color: #5d5abf;
  font-size: 1.5rem;
}

.sp__content_buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sp__btn {
  align-items: center;
  background: #fceef7;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 1px 1px 6px #8080807a;
  color: #5155a6;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

@media screen and (min-width: 800px) {
  /* CreateProduct */

  .cp__contain_photo {
    align-items: flex-start;
    width: 30rem;
  }

  .cp__contain_inputs {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }

  .cp__select,
  .cp__input,
  .cp__select_warehouse {
    font-size: 1rem;
    height: 3.5rem;
    padding: 0 1rem;
  }

  .cp__description_textarea {
    font-size: 1rem;
    height: 18.2rem;
  }

  /* SearchProduct */

  .sp__contain_info_outside_title {
    max-width: 41rem;
  }

  .cp__form,
  .sp__content_selects_search {
    flex-direction: row;
  }

  .sp__content_buttons {
    gap: 1rem;
    justify-content: flex-end;
  }

  .cp__content_select_warehouse {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1015px) {
  .cp__contain_photo {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .cp__contain_inputs {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}
