.table__th {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.6s ease-in-out;
  padding: 1rem 0.5rem;
}

.table__th:hover {
  background: #e2cdf8;
  border-radius: 0.7rem;
  cursor: pointer;
  padding: 1.5rem 0.5rem;
  transition: 0.6s ease-in-out;
}

.table__td,
.table__tbody_tr {
  font-size: 0.8rem;
  padding: 1rem;
  text-align: center;
  white-space: nowrap;
}

.table__tbody_tr:nth-child(even) {
  background: #e2cdf831;
}

.table__content_buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: sticky;
  width: 100%;
}

.table__btn_pagination {
  align-items: center;
  background: #fff;
  border-radius: 0.3rem;
  border: 1px solid #5155a6;
  color: #5155a6;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  height: 2rem;
  justify-content: center;
  transition: 0.6s ease-in-out;
  width: 2rem;
}

.table__btn_pagination:hover {
  background: #5155a6;
  color: #fff;
  transition: 0.6s ease-in-out;
}

.table_desabled_btn {
  background-color: #4e4e4e6e;
  cursor: not-allowed;
  pointer-events: none;
}

/* ShowRegisters */

.table__count_registers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0 0;
}

.table__count_registers > p {
  color: #5d5abf;
  font-size: 1.2rem;
  font-weight: 500;
}

.table__content_pages_go_to {
  align-items: flex-end;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.table__input_go_to_page {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

.table__input_go_to_page > p {
  color: #5d5abf;
  font-size: 1.2rem;
}

.table__input_go_to_page > input {
  border-radius: 0.6rem;
  border: 1px solid #5d5abf;
  color: #5d5abf;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  height: 3rem;
  width: 100%;
}

.table__content_select_rows > select {
  background: #fff;
  border-radius: 0.6rem;
  border: 1px solid #5d5abf;
  color: #5d5abf;
  font-size: 1rem;
  height: 3rem;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .table__td,
  .table__tbody_tr {
    white-space: break-spaces;
  }

  .table__input_go_to_page {
    width: fit-content;
  }

  .table__content_select_rows {
    display: flex;
    justify-content: flex-end;
  }

  .table__input_go_to_page > input,
  .table__content_select_rows > select {
    width: 10rem;
  }
}
