.lyp__content {
  padding: 1rem;
  width: 100%;
}

.lyp__title_page > h2 {
  color: #00c0e8;
  font-size: 2.5rem;
  font-weight: 500;
}

.lyp__title_info_and_create_user {
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 6px #8080804c;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
}

.lyp__title_info_and_create_user > p {
  font-size: 1.2rem;
}

.lyp__title_info_and_create_user > span svg {
  color: #00c0e8;
  cursor: pointer;
  font-size: 2rem;
}

.lyp__content_table {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 6px #8080804c;
  padding: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .lyp__container {
    margin: 0 0 0 19rem;
    width: calc(100% - 19rem);
  }

  .lyp__content_table {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .lyp__input_searc_table {
    width: 50%;
  }
}
