.if__content_input_form {
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 6px #80808047;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 0fr 1fr;
  height: 4rem;
  padding: 0 0.5rem;
  position: relative;
  width: 100%;
}

.if__input_form {
  background: transparent;
  border: none;
  font-size: 1.1rem;
  height: 100%;
  outline: none;
  width: 100%;
}

.if__content_input_form > svg {
  color: #5b54b1;
  font-size: 1.5rem;
}

.if__content_show_error {
  align-items: center;
  background: #ff00009d;
  border-radius: 1.5rem;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 100%;
}

.if__title_error {
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .if__content_input_form {
    height: 3.7rem;
  }

  .if__input_form,
  .if__title_error {
    font-size: 1rem;
  }

  .if__content_input_form > svg {
    font-size: 1.3rem;
  }

  .if__content_show_error {
    height: 2rem;
    max-height: 6rem;
    min-height: 2rem;
  }
}
