:root {
  --gradiente: linear-gradient(to right, #7c6693 16%, #6c99c9 52%);
}

.main__container::before {
  background: #eee4f8;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.main__content {
  padding: 1rem;
  width: 100%;
}

.main__content_title_welcome {
  padding: 0 0 2rem;
  width: 100%;
}

.main__title_welcome {
  background: var(--gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.main__content_title_welcome > p {
  color: #6c99c9;
  font-size: 1.4rem;
}

.main__list_cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.main__container_card {
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 6px #8080808a;
  max-width: 22rem;
  padding: 1rem;
  transition: 0.6s ease-in;
  width: 100%;
}

.main__container_card:hover {
  transform: scale(1.03);
  transition: 0.6s ease-out;
}

.main__content_card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main__card_image_option > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.main__card_content_info {
  display: grid;
  gap: 0.5rem;
}

.main__card_title {
  background: var(--gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 500;
  line-break: auto;
}

.main__card_description {
  background: var(--gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1rem;
}

.main__card_content_btn {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  width: 100%;
}

.main__card_btn {
  align-items: center;
  background: #6c99c9;
  border-radius: 100%;
  border: none;
  box-shadow: 1px 1px 6px gray;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.main__container_self_weeks {
  padding: 2rem 0;
  width: 100%;
}

.main__content_info_chart {
  display: grid;
  gap: 1rem;
  padding: 0 0 1rem 0;
}

.main__title_self_week {
  background: var(--gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 500;
}

.main__select_item {
  background: #e2cdf8;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 1px 1px 5px #80808099;
  font-size: 1.1rem;
  height: 3.5rem;
  padding: 0.5rem;
  width: 100%;
}

.main__year_now {
  color: #6c99c9;
  font-size: 1.2rem;
  text-align: end;
}

.main__content_grafic {
  height: 22rem;
  max-height: 27rem;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .main__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 19rem;
  }

  .main__container_card {
    max-width: 34rem;
  }

  .main__content_card {
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
  }

  .main__card_content_info {
    gap: 1rem;
    height: fit-content;
  }

  .main__card_title {
    font-size: 1.5rem;
  }

  .main__card_description {
    font-size: 0.9rem;
  }

  .main__card_content_btn {
    align-items: end;
  }

  .main__card_btn {
    height: 2.5rem;
    width: 2.5rem;
  }

  .main__container_self_weeks {
    padding: 4rem 0 0;
  }

  .main__content_info_chart {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  .main__select_option {
    width: 17rem;
  }
}

@media screen and (min-width: 1000px) {
  .main__list_cards {
    align-items: start;
  }
}

@media screen and (min-width: 1200px) {
  .main__list_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
