.lym__container {
  background: #fff;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: 1s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 999;
}

.lym__content {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.lym__nav_back {
  align-items: center;
  background: #fff;
  border-bottom: 1.2px solid #5b54b1;
  display: flex;
  gap: 1rem;
  left: 0;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.lym__nav_back > svg {
  color: #5b54b1;
  cursor: pointer;
  font-size: 1.8rem;
}

.lym__nav_back > p {
  color: #5b54b1;
  font-size: 1.2rem;
}

.lym__btn_close {
  display: none;
}

@media screen and (min-width: 800px) {
  .lym__container {
    align-items: center;
    background: #5c54b19c;
    display: flex;
    justify-content: center;
  }

  .lym__content {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 1px 1px 6px gray;
    height: 90%;
    width: 80%;
  }

  .lym__content::-webkit-scrollbar {
    width: 0.6rem;
  }

  .lym__content::-webkit-scrollbar-track {
    background: #fceef7;
  }

  .lym__content::-webkit-scrollbar-thumb {
    background-color: #e2cdf8;
  }

  .lym__nav_back {
    gap: 0.5rem;
    justify-content: space-between;
  }

  .lym__nav_back > svg {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .lym__nav_back > p {
    font-size: 1.3rem;
  }

  .lym__btn_close {
    align-items: center;
    background: #fff;
    box-shadow: 1px 1px 6px #8080809d;
    border-radius: 100%;
    border: none;
    color: #5b54b1;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    height: 2rem;
    justify-content: center;
    width: 2rem;
  }
}
