.lym__container {
  background: #fff;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: 1s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 999;
}

.lym__content {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.lym__nav_back {
  align-items: center;
  background: #fff;
  border-bottom: 1.2px solid #80808042;
  display: flex;
  gap: 1rem;
  left: 0;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.lym__nav_back > svg {
  color: #00c0e8;
  cursor: pointer;
  font-size: 1.8rem;
}

.lym__nav_back > p {
  color: #00c0e8;
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  .lym__container {
    align-items: center;
    background: #000000b0;
    display: flex;
    justify-content: center;
  }

  .lym__content {
    background: #fff;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 1px 1px 6px gray;
    height: 32rem;
    max-width: 40rem;
    width: 32rem;
  }

  .lym__content::-webkit-scrollbar {
    width: 0.6rem;
  }

  .lym__content::-webkit-scrollbar-track {
    background: #fff;
  }

  .lym__content::-webkit-scrollbar-thumb {
    background-color: #00c0e8;
  }
}
