.table__container {
  height: 100%;
  width: 100%;
}

.table__content {
  overflow: auto;
  width: 100%;
}

.table__table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
}
